<%- form_for Flit.new do |f| -%>
  <div id="new_flit_form">
    <h3>What are you doing?</h3>
    <%= f.text_area :message %>
    <div id="latest_message">
      <strong>Latest: </strong><%= h @last_flit.message %>
      <%= distance_of_time_in_words_to_now(@last_flit.created_at) %> ago
    </div>
    <div id="submit_button_container">
      <%= f.submit "update", :class => "button" %>
    </div>
    <div class="clear"></div>
  </div>
<%- end -%>

<ul id="flits_list">
  <% @flits.each do |flit| %>
    <li<% if @flits.first == flit %> class="first"<% end %>>
      <%= image_tag flit.user.gravatar_url %>
      <div class="flit_message_container">
        <%= link_to flit.user.username %>
        <%= h flit.message %>
        <div class="time_ago">
          <%= distance_of_time_in_words_to_now(flit.created_at) %> ago
        </div>
      </div>
      <div class="clear"></div>
    </li>
  <% end %>
</ul>